[submodule "bson"]
	path = bson
	url = git@github.com:neloe/FastBSON-Cpp.git
[submodule "zmq"]
	path = zmq
	url = git@github.com:neloe/EasyZMQ-Cpp.git
[submodule "tests/gtest"]
	path = tests/gtest
	url = git@github.com:neloe/gtest
